@import './variables.scss';
.pointer {
  cursor: pointer;
}
.navbar-default .navbar-nav a.router-link-active {
  color: #333333;
  background-color: transparent;
}
.nav-pills>li>a.router-link-active {
  color: #fff;
  background-color: #337ab7;
}
.col-with-right-border {
  border-right: 1px solid $border-color;
}
/*Label*/
.label {
  position: absolute;
  top: 12px;
  right: 9px;
  text-align: center;
  font-size: 9px;
  padding: 2px 3px;
  line-height: .9;
  &.label-success {
    background-color: #00a65a !important;
  }
}
/*End Label*/

.PrivateMessage {
  .message-table {
    tr.unread {
      font-weight: bold;
    }
  }
}

