.pointer {
  cursor: pointer;
}
.navbar-default .navbar-nav a.router-link-active {
  color: #333333;
  background-color: transparent;
}
.nav-pills>li>a.router-link-active {
  color: #fff;
  background-color: #337ab7;
}
.PrivateMessage {
  .message-table {
    tr.unread {
      font-weight: bold;
    }
  }
}
